<script src="{{ '/' | url }}js/data.js"></script>
<script>
window.onload = function () {
    var dataOnboardingDone = localStorage.getItem('onboardingDone');
    var dataSigninDone = localStorage.getItem('signinDone');
    var path = window.location.protocol + '//' + window.location.host + '/';

    if ((dataSigninDone == 'true') && (dataOnboardingDone == 'true')) {
        window.location.replace(path + 'home/');
    } else if ((dataSigninDone == 'true') && !(dataOnboardingDone == 'true')) {
        window.location.replace(path + 'onboarding/');
    } else {
        window.location.replace(path + 'sign-in/');
    };
};
</script>