---
layout: layouts/base.njk
permalink: /
---
{%- include "navBottom.njk" -%}

<header>
    <h1>Welkom terug Marloes!</h1>
</header>

<section class="with-bottom-nav">
    {%- set listName = "Populair deze week" -%}
    {%- set listContent = collections.bookshelfPopular -%}
    {%- include "onPageListBook.njk" -%}

    {%- set listName = "Verderlezen voor jou" -%}
    {%- set listContent = collections.bookshelfReading -%}
    {%- include "onPageListBook.njk" -%}

    {%- set listName = "Alle boeken" -%}
    {%- set listContent = collections.book -%}
    {%- include "onPageListBook.njk" -%}

    {%- set listName = "Alle boekenplanken" -%}
    {%- set listContent = collections.bookshelf -%}
    {%- include "onPageListBookshelf.njk" -%}

    {%- set listName = "Alle 'A Song of Ice and Fire' boeken" -%}
    {%- set listContent = collections.serieASongOfIceAndFire -%}
    {%- include "onPageListBook.njk" -%}

    {%- set listName = "Alle 'The Lord of the Rings' boeken" -%}
    {%- set listContent = collections.serieTheLordOfTheRings -%}
    {%- include "onPageListBook.njk" -%}

    {%- set listName = "Alle 'Harry Potter' boeken" -%}
    {%- set listContent = collections.serieHarryPotter -%}
    {%- include "onPageListBook.njk" -%}
</section>
