<script>
document.addEventListener("DOMContentLoaded", function(){
    var onboardingDone = localStorage.getItem('onboardingDone');

    if (onboardingDone == 'true') {
        var path = window.location.protocol + '//' + window.location.host + '/';
        window.location.replace(path + 'home/');
    } else {
        var path = window.location.protocol + '//' + window.location.host + '/';
        window.location.replace(path + 'sign-in/');
    };
});
</script>