---
layout: layouts/base.njk
permalink: /instellingen/
---
{%- set pageName = "Instellingen" -%}
{%- include "navTop.njk" -%}

<section class="page with-top-nav with-bottom-nav">
    <h3>Account</h3>
    <div class="spacer-8"></div>
    <label for="userName">Naam</label>
    <input type="text" id="userName">
    <div class="spacer-8"></div>
    <label for="userUsername">Gebruikersnaam</label>
    <input type="text" id="userUsername">
    <div class="spacer-8"></div>
    <label for="userPassword">Wachtwoord</label>
    <input type="password" id="userPassword">
    <div class="spacer-16"></div>
    <a class="button positive secondary" id="buttonSave" onclick="saveAccountSettings()"><p>Aanpassingen opslaan</p></a>
    <div class="spacer-8"></div>
    <a class="button negative secondary" id="buttonSignout" onclick="authSignout()"><p>Uitloggen</p></a>

    <div class="spacer-32"></div>
    <h3>Leeservaring</h3>
    <div class="spacer-8"></div>
    <label for="readingTextSize">Tekst grootte</label>
    <select id="readingTextSize">
        <option value="big">Groot</option>
        <option value="medium">Medium</option>
        <option value="small">Klein</option>
    </select>
    <div class="spacer-8"></div>
    <label for="readingVolume">Volume van muziek</label>
    <input type="number" id="readingVolume" min="10" max="100">
    <div class="spacer-16"></div>
    <a class="button positive secondary" id="buttonSave" onclick="saveReadingSettings()"><p>Aanpassingen opslaan</p></a>

    <div class="spacer-32"></div>
    <h3 class="danger">Danger zone!</h3>
    <div class="spacer-8"></div>
    <a class="button negative primary" id="buttonDeleteData" onclick="deleteData()"><p>Data verwijderen</p></a>
</section>

{%- set active = "Instellingen" -%}
{%- include "navBottom.njk" -%}

<script>
window.onload = function () {
    document.getElementById('userName').defaultValue = localStorage.getItem('name');
    document.getElementById('userUsername').defaultValue = localStorage.getItem('username');
    document.getElementById('userPassword').defaultValue = localStorage.getItem('password');

    // Checks if reading text size has been set already and fills the dropdown accordingly
    if (localStorage.getItem('readingTextSize') === null) {
        localStorage.setItem('readingTextSize', 'medium');
        document.getElementById('readingTextSize').defaultValue = localStorage.getItem('readingTextSize');
    } else {
        document.getElementById('readingTextSize').defaultValue = localStorage.getItem('readingTextSize');
    };

    // Checks if reading volume has been set already
    if (localStorage.getItem('readingVolume') === null) {
        localStorage.setItem('readingVolume', '100');
        document.getElementById('readingVolume').value = localStorage.getItem('readingVolume');
    } else {
        document.getElementById('readingVolume').value = localStorage.getItem('readingVolume');
    };
}
</script>