---
layout: layouts/base.njk
permalink: /onboarding/
---
<p>Hoi! Dit moet de onboarding zijn... maar die is helaas nog niet klaar :(</p>
<br>
<a class="button primary" href="{{ '/' | url }}home/"><p>Naar home</p></a>