---
layout: layouts/base.njk
permalink: /onboarding/
---
<section class="page onboarding">
    <h1>Onboarding</h1>
    <div class="spacer-8"></div>
    <p>Hoi! Dit moet de onboarding zijn... maar die is helaas nog niet klaar :(</p>
    <div class="spacer-32"></div>
    <a class="button primary" href="{{ '/' | url }}home/"><p>Naar home</p></a>
</section>