---
layout: layouts/base.njk
permalink: /sign-in/
---
Hello, this is the sign in
<script>
document.addEventListener("DOMContentLoaded", function(){
    localStorage.setItem('onboardingDone', 'true');
});
</script>