<div class="header-bookshelf">
    <div class="data">
        <a href="javascript:history.back()">
            {# Arrow Left icon #}
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 12H5" stroke="black" stroke-width="1.6"/>
                <path d="M12 19L5 12L12 5" stroke="black" stroke-width="1.6" stroke-linecap="square"/>
            </svg>
        </a>
        <div class="page-data">
            <h2>{{ pageName }}</h2>
            <p>Boekenplank</p>
        </div>
    </div>
    <a class="button primary align-left" onclick="openModal('shareBookshelf')">
        <p>Deel</p>
        <img src="{{ '/' | url }}assets/icons/share-16.svg">
    </a>
    <a class="button primary align-left" onclick="openModal('settingsBookshelf')">
        <p>Instellingen</p>
        <img src="{{ '/' | url }}assets/icons/settings-16.svg">
    </a>
</div>