<div class="modal hidden" id="addToBookshelf">
    <div class="modal-content">
        <svg class="close-button" onclick="closeModal('addToBookshelf')" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 4L4 12" stroke="#330012" stroke-width="1.6" stroke-linecap="square"/>
            <path d="M4 4L12 12" stroke="black" stroke-width="1.6" stroke-linecap="square"/>
        </svg>
        <h2>Selecteer een boekenplank</h2>
        <select name="bookshelf">
            {%- for bookshelf in collections.bookshelf -%}
            <option value="{{ bookshelf.data.correspondingTag }}">{{ bookshelf.data.name }}</option>
            {%- endfor -%}
        </select>
        <div class="spacer-16"></div>
        <a class="button primary" onclick="closeModal('addToBookshelf')">
            <p>Sla op</p>
        </a>
    </div>
</div>