<div class="modal hidden" id="settingsBookshelf">
    <div class="modal-content">
        <svg class="close-button" onclick="closeModal('settingsBookshelf')" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 4L4 12" stroke="#330012" stroke-width="1.6" stroke-linecap="square"/>
            <path d="M4 4L12 12" stroke="black" stroke-width="1.6" stroke-linecap="square"/>
        </svg>
        <h2>Da's pech...</h2>
        <p>Je kunt nog geen instellingen veranderen :(</p>
        <div class="spacer-16"></div>
    </div>
</div>