{%- if active == "Zoeken" -%}
    {# ZOEKEN #}
    <div class="bottom-nav">
    <a class="passive" href="{{ '/' | url }}home">
        <img src="{{ '/' | url}}assets/icons/home.svg" alt=""></img>
        <p class="tiny">Home</p>
    </a>
    <a class="active" href="{{ '/' | url }}zoeken/alles">
        <img src="{{ '/' | url}}assets/icons/search.svg" alt=""></img>
        <p class="tiny">Zoeken</p>
    </a>
    <a class="passive" href="{{ '/' | url }}account">
        <img src="{{ '/' | url}}assets/icons/user.svg" alt=""></img>
        <p class="tiny">Account</p>
    </a>
    <a class="passive" href="{{ '/' | url }}instellingen">
        <img src="{{ '/' | url}}assets/icons/settings.svg" alt=""></img>
        <p class="tiny">Instellingen</p>
    </a>
</div>
{%- elif active == "Account" -%}
    {# ACCOUNT #}
    <div class="bottom-nav">
    <a class="passive" href="{{ '/' | url }}">
        <img src="{{ '/' | url}}assets/icons/home.svg" alt=""></img>
        <p class="tiny">Home</p>
    </a>
    <a class="passive" href="{{ '/' | url }}zoeken/alles">
        <img src="{{ '/' | url}}assets/icons/search.svg" alt=""></img>
        <p class="tiny">Zoeken</p>
    </a>
    <a class="active" href="{{ '/' | url }}account">
        <img src="{{ '/' | url}}assets/icons/user.svg" alt=""></img>
        <p class="tiny">Account</p>
    </a>
    <a class="passive" href="{{ '/' | url }}instellingen">
        <img src="{{ '/' | url}}assets/icons/settings.svg" alt=""></img>
        <p class="tiny">Instellingen</p>
    </a>
{%- elif active == "Instellingen" -%}
    {# INSTELLINGEN #}
    <div class="bottom-nav">
    <a class="passive" href="{{ '/' | url }}">
        <img src="{{ '/' | url}}assets/icons/home.svg" alt=""></img>
        <p class="tiny">Home</p>
    </a>
    <a class="passive" href="{{ '/' | url }}zoeken/alles">
        <img src="{{ '/' | url}}assets/icons/search.svg" alt=""></img>
        <p class="tiny">Zoeken</p>
    </a>
    <a class="passive" href="{{ '/' | url }}account">
        <img src="{{ '/' | url}}assets/icons/user.svg" alt=""></img>
        <p class="tiny">Account</p>
    </a>
    <a class="active" href="{{ '/' | url }}instellingen">
        <img src="{{ '/' | url}}assets/icons/settings.svg" alt=""></img>
        <p class="tiny">Instellingen</p>
    </a>
{%- else -%}
    {# DEFAULT STATE #}
    <div class="bottom-nav">
    <a class="active" href="{{ '/' | url }}">
        <img src="{{ '/' | url}}assets/icons/home.svg" alt=""></img>
        <p class="tiny">Home</p>
    </a>
    <a class="passive" href="{{ '/' | url }}zoeken/alles">
        <img src="{{ '/' | url}}assets/icons/search.svg" alt=""></img>
        <p class="tiny">Zoeken</p>
    </a>
    <a class="passive" href="{{ '/' | url }}account">
        <img src="{{ '/' | url}}assets/icons/user.svg" alt=""></img>
        <p class="tiny">Account</p>
    </a>
    <a class="passive" href="{{ '/' | url }}instellingen">
        <img src="{{ '/' | url}}assets/icons/settings.svg" alt=""></img>
        <p class="tiny">Instellingen</p>
    </a>
</div>
{%- endif -%}