<div class="on-page-list-content">
    {%- for book in booklist -%}
    <a class="on-page-book" href="{{ book.url | url }}">
        <img src="{{ '/' | url }}{{ book.data.coverImage | url }}" alt="{{ '/' | url }}{{ book.data.coverImage }}"></img>
        {# <p>{{ book.data.name }}</p> #}
    </a>
    {%- endfor -%}
</div>