<div class="on-page-list bookshelves">
    <h3>{{ listName }}</h3>
    <div class="container">
        <div class="list">
            <div class="content">
                {%- for bookshelf in listContent -%}
                <a class="bookshelf" href="{{ bookshelf.url | url }}">
                    <img src="{{ '/' | url }}{{ bookshelf.data.coverImage | url }}" alt="{{ '/' | url }}{{ bookshelf.data.coverImage }}"></img>
                    <p>{{ bookshelf.data.name }}</p>
                </a>
                {%- endfor -%}
            </div>
        </div>
    </div>
</div>