<div class="on-page-gallery books">
    <h3>{{ listName }}</h3>
    <div class="content">
        {%- for book in listContent -%}
        <a class="book" href="{{ book.url | url }}">
            <img src="{{ '/' | url }}{{ book.data.coverImage | url }}" alt="{{ '/' | url }}{{ book.data.coverImage }}"></img>
            {# <p>{{ book.data.name }}</p> #}
        </a>
        {%- endfor -%}
    </div>
</div>