---
layout: layouts/base.njk
---
<h1>{{ name }}</h1>
<img src="{{ '/' | url }}{{ coverImage | url }}" alt="{{ '/' | url }}{{ coverImage }}"></img>
<br>
<h2>Beschrijving</h2>
<p>{{ description }}</p>
<br>
<h2>Data van dit boek</h2>
<p>Auteur: {{ author }}</p>
<br>
<div class="on-page-list">
    <h3>Andere boeken van deze auteur</h3>
    {%- set booklist = collections.jkRowling -%}
    {%- include "onPageListBook.njk" -%}
</div>
