---
layout: layouts/base.njk
---
{%- set pageName -%}{{ name }}{%- endset -%}
{%- include "navTop.njk" -%}

{%- include "navBottom.njk" -%}

{%- include "modalAddToBookshelf.njk" -%}

{# Getting the author's name #}
{%- set authorName -%}
    {%- set listFilterShow = authorTag -%}
    {%- set listContent = collections.author -%}
    {%- include "dataAuthorName.njk" -%}
{%- endset -%}

{# Getting the author's page url #}
{%- set authorUrl -%}
    {%- set listFilterShow = authorTag -%}
    {%- set listContent = collections.author -%}
    {%- include "dataAuthorUrl.njk" -%}
{%- endset -%}

{# {%- set bookRating -%}
    {%- set bookData -%} 
        {{ collection.book | getCollectionItem(page) }}
    {%- endset -%}
    {%- include "onPageBookRating.njk" -%}
{%- endset -%} #}

<div class="book-reading-overlay passive normal" id="bookOverlay">
    <div class="top-controls">
        <a class="button secondary negative" onclick="closeBookOverlay()">
            <p>Stop met lezen</p>
        </a>
    </div>
    <div class="content">
        {{ content | safe }}
    </div>
    <div class="bottom-controls">
        <a class="button primary" onclick="bookTextSmaller()" id="buttonTextSmaller">
            <p>T-</p>
        </a>
        <a class="button primary" onclick="bookTextBigger()" id="buttonTextBigger">
            <p>T+</p>
        </a>
        <a class="button primary" onclick="toggleMusic()">
            <p>Play/Pause</p>
        </a>
        <a class="button primary" onclick="volumeDown()">
            <p>M-</p>
        </a>
        <a class="button primary" onclick="volumeUp()">
            <p>M+</p>
        </a>
    </div>
</div>

<div class="book-page-header">
    <div class="column">
        <img src="{{ '/' | url }}{{ coverImage | url }}" alt="{{ '/' | url }}{{ coverImage }}"></img>
    </div>
    <div class="column">
        <h3>{{ name }}</h3>
        <p>Van <a href="{{ authorUrl }}">{{ authorName }}</a></p>
        <br>
        {{ bookRating }}
    </div>
</div>

<div class="book-page-section">
    <a class="button primary" onclick="openBookOverlay()">
        <p>Lees boek</p>
    </a>
    <div class="spacer-8"></div>
    <a class="button secondary" onclick="openModal('addToBookshelf')">
        <p>Sla op</p>
    </a>
</div>

<div class="book-page-section">
    <h3>Beschrijving</h3>
    <p>{{ description }}</p>   
</div>

<section class="with-bottom-nav">
    {%- set listName = "Meer boeken van deze auteur" -%}
    {%- set listFilterShow = authorTag -%}
    {%- set listFilterHide = name -%}
    {%- set listContent = collections.book -%}
    {%- include "onPageListBook.njk" -%}

    {%- set listName = "Vergelijkbare boeken" -%}
    {%- set listFilterShow = genreTag -%}
    {%- set listFilterHide = serieTag -%}
    {%- set listContent = collections.book -%}
    {%- include "onPageListBook.njk" -%}
</section>
