---
layout: layouts/base.njk
---
{%- set pageName -%}{{ name }}{%- endset -%}
{%- include "navTop.njk" -%}

{%- include "navBottom.njk" -%}

{%- set listName = "Verderlezen voor jou" -%}
{%- set listContent = collections.serieHarryPotter -%}
{%- include "onPageGalleryBook.njk" -%}