---
layout: layouts/base.njk
---
<h1>{{ name }}</h1>
<p>Boekenplank</p>
<br>
<div class="on-page-list">
    <h3>Boeken in deze boekenplank</h3>
    {%- set booklist = collections.reading -%}
    {%- include "onPageListBook.njk" -%}
</div>