---
layout: layouts/base.njk
---
{%- set pageName = "[nameBook]" -%}
{%- include "navTop.njk" -%}

{%- include "navBottom.njk" -%}

<div class="book-page-header">
    <div class="column">
        <img src="{{ '/' | url }}{{ coverImage | url }}" alt="{{ '/' | url }}{{ coverImage }}"></img>
    </div>
    <div class="column">
        <h3>{{ name }}</h3>
        <p>Van <a href="{{ '/' | url }}auteur/{{ authorUrl }}">{{ author }}</a></p>
    </div>
</div>

<div class="book-page-section">
    <h3>Beschrijving</h3>
    <p>{{ description }}</p>   
</div>

<section class="with-bottom-nav">
    {%- set listName = "Meer boeken van deze auteur" -%}
    {%- set listContent = collections.authorGeorgeRRMartin -%}{# Should be the variable authorTag #}
    {%- include "onPageListBook.njk" -%}

    {%- set listName = "Vergelijkbare boeken" -%}
    {%- set listContent = collections.genreFantasy -%}{# Should be the variable genreTag #}
    {%- include "onPageListBook.njk" -%}
</section>

