<div class="search-results">
    {%- for book in listContent -%}
    <a class="book" href="{{ book.url | url }}">
        <img src="{{ '/' | url }}{{ book.data.coverImage }}" alt="{{ '/' | url }}{{ book.data.coverImage }}">
        <div class="data">
            <h3>{{ book.data.name }}</h3>
            <p>Van {{ book.data.author }}</p>
        </div>
    </a>
    {%- endfor -%}
</div>