---
layout: layouts/base.njk
permalink: /zoeken/alles/
---
{%- include "headerSearch.njk" -%}

{%- set listName = "Verderlezen voor jou" -%}
{%- set listContent = collections.bookshelfReading -%}
{%- include "onPageListBook.njk" -%}

{%- set active = "Zoeken" -%}
{%- include "navBottom.njk" -%}